
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




<!-- Sidebar -->
<div  class="w3-sidebar barra w3-bar-block" style="width:15%">
    <section class="letra1">
        <img 
        src="https://i.postimg.cc/R0qSW-vfF/01.png"
        width="250" height="250" class="d-inline-block align-center" alt="" loading="lazy" style="margin-top: 100px;">
        <br>
        <br>
            <h1 class="letra1">¡Bienvenido Usuari@!</h1>
        <button type="button" class="btn btn-primary boton_menu btn-lg">MENÚ PRINCIPAL</button>    </section>
  </div>
  
  <!-- Page Content -->
  <div style="margin-left:15%">

    <a href="lanimal"> <img src="../../../assets/image/1.png" width="900"  height="150" class="imagen1"> </a>    
    <a href="buscar"> <img src="../../../assets/image/2.png" width="900"  height="150" class="imagen1"> </a>    
    <a href="reserva"> <img src="../../../assets/image/3.png" width="900"  height="150" class="imagen1"> </a>    

    <a href="procedimiento"> <img src="../../../assets/image/4.png" width="400"  height="150" class="imagen1"></a>
    <a href="empleado"> <img src="../../../assets/image/5.png" width="400"  height="150" class="imagen1" style="margin-left: 100px;"></a>


  <div class="w3-container">

      

  
  </div>
  
  </div>